## Dognition Analysis

***

### Markdown Guides

> This is a blockquote.

Some of these words *are emphasized*.

Use two asterisks for **strong emphasis**.

*   Another item in the list.

This is an [example link](http://example.com/).

$x = x + y$

[text to appear as link](#linkhandle)

Images inline
![image](https://imgbbb.com/images/2019/12/18/Screenshot-2019-12-18-at-12.55.36-PM.png)

## Project Description

Test Relationships Between Test Completion and Dog Characteristics

## Data Dictionary

| Field          | Description                                                                           |
|----------------|---------------------------------------------------------------------------------------|
| |	|
| |	|
| |	|
| |	|
| |	|
| |	|
| |	|
| |	|
| |	|
| |	|
| |	|
| |	|
| |	|
| |	|
| |	|
| |	|
| |	|
| |	|

## Summary

### Import Libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm
from statsmodels.formula.api import ols
import datetime
from datetime import datetime, timedelta
import scipy.stats
import pandas_profiling
from pandas_profiling import ProfileReport


%matplotlib inline
#sets the default autosave frequency in seconds
%autosave 60 
sns.set_style('dark')
sns.set(font_scale=1.2)

plt.rc('axes', titlesize=9)
plt.rc('axes', labelsize=14)
plt.rc('xtick', labelsize=12)
plt.rc('ytick', labelsize=12)

import warnings
warnings.filterwarnings('ignore')

# Use Folium library to plot values on a map.
#import folium

# Use Feature-Engine library
#import feature_engine
#import feature_engine.missing_data_imputers as mdi
#from feature_engine.outlier_removers import Winsorizer
#from feature_engine import categorical_encoders as ce
#from feature_engine.discretisation import EqualWidthDiscretiser, EqualFrequencyDiscretiser, DecisionTreeDiscretiser
#from feature_engine.encoding import OrdinalEncoder

pd.set_option('display.max_columns',None)
#pd.set_option('display.max_rows',None)
pd.set_option('display.width', 1000)
pd.option_context('float_format','{:.2f}'.format)

np.random.seed(0)
np.set_printoptions(suppress=True)

Autosaving every 60 seconds

In [3]:
df = pd.read_csv("dogs2.csv",parse_dates=['created_at','updated_at'])

In [4]:
df

       gender  birthday                breed  weight  dog_fixed  dna_tested          created_at          updated_at dimension  exclude                        breed_type breed_group                              dog_guid                             user_guid  total_tests_completed
0      female      2011   Labrador Retriever      50        1.0         0.0 2013-05-02 03:57:00 2013-07-25 19:41:00   charmer      NaN                        Pure Breed    Sporting  fd27b272-7144-11e5-ba71-058fbc01cf0b  ce134e42-7144-11e5-ba71-058fbc01cf0b                   21.0
1        male      2007    Shetland Sheepdog      20        1.0         0.0 2013-05-02 15:35:00 2013-07-25 19:41:00  protodog      NaN                        Pure Breed     Herding  fd27b5ba-7144-11e5-ba71-058fbc01cf0b  ce1353d8-7144-11e5-ba71-058fbc01cf0b                   20.0
2        male      2012     Golden Retriever      70        0.0         1.0 2013-05-02 17:22:00 2013-07-25 19:41:00       NaN      NaN                        Pure Breed    Sporting  fd27b6b4-7144-11e5-ba71-058fbc01cf0b  ce135ab8-7144-11e5-ba71-058fbc01cf0b                    2.0
3        male      2011     Golden Retriever      70        0.0         0.0 2013-05-02 17:40:00 2014-05-30 15:52:00       NaN      NaN                        Pure Breed    Sporting  fd27b79a-7144-11e5-ba71-058fbc01cf0b  ce13507c-7144-11e5-ba71-058fbc01cf0b                   11.0
4      female      2010             Shih Tzu     190        0.0         0.0 2013-05-02 18:12:00 2014-05-30 15:52:00  einstein      1.0                        Pure Breed         Toy  fd27b86c-7144-11e5-ba71-058fbc01cf0b  ce135e14-7144-11e5-ba71-058fbc01cf0b                   31.0
...       ...       ...                  ...     ...        ...         ...                 ...                 ...       ...      ...                               ...         ...                                   ...                                   ...                    ...
35045    male      2010  Australian Shepherd      50        1.0         NaN 2015-12-10 21:39:00 2015-12-10 21:54:00       NaN      NaN                        Pure Breed     Herding  fdc2424c-7144-11e5-ba71-058fbc01cf0b  ce9b3708-7144-11e5-ba71-058fbc01cf0b                    NaN
35046  female      2008             Havanese      10        1.0         NaN 2015-12-10 21:46:00 2015-12-10 21:47:00       NaN      NaN                        Pure Breed         Toy  fdc242ba-7144-11e5-ba71-058fbc01cf0b  ce9b376c-7144-11e5-ba71-058fbc01cf0b                    NaN
35047    male      2010                Mixed      10        NaN         NaN 2015-12-10 21:49:00 2015-12-10 21:49:00       NaN      NaN  Mixed Breed/ Other/ I Don't Know         NaN  fdc24328-7144-11e5-ba71-058fbc01cf0b  ce9b37d0-7144-11e5-ba71-058fbc01cf0b                    NaN
35048  female      2013   Labrador Retriever      50        0.0         NaN 2015-12-10 21:50:00 2015-12-10 21:50:00       NaN      NaN                        Pure Breed    Sporting  fdc243a0-7144-11e5-ba71-058fbc01cf0b  ce9b3834-7144-11e5-ba71-058fbc01cf0b                    NaN
35049    male      2008             Havanese      10        1.0         NaN 2015-12-10 21:56:00 2015-12-10 21:58:00       NaN      NaN                        Pure Breed         Toy  fdc24404-7144-11e5-ba71-058fbc01cf0b  ce9b376c-7144-11e5-ba71-058fbc01cf0b                    NaN

[35050 rows x 15 columns]

## Exploratory Data Analysis

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35050 entries, 0 to 35049
Data columns (total 15 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   gender                 35050 non-null  object
 1   birthday               35050 non-null  int64
 2   breed                  35050 non-null  object
 3   weight                 35050 non-null  int64
 4   dog_fixed              34525 non-null  float64
 5   dna_tested             12733 non-null  float64
 6   created_at             35050 non-null  datetime64[ns]
 7   updated_at             35050 non-null  datetime64[ns]
 8   dimension              4212 non-null   object
 9   exclude                1025 non-null   float64
 10  breed_type             35050 non-null  object
 11  breed_group            17943 non-null  object
 12  dog_guid               35050 non-null  object
 13  user_guid              35048 non-null  object
 14  total_tests_completed  17985 non-null  float64
dtypes: datetime64[ns](2), float64(4), int64(2), object(7)
memory usage: 4.0+ MB

In [6]:
df.describe()

           birthday        weight     dog_fixed    dna_tested      exclude  total_tests_completed
count  35050.000000  35050.000000  34525.000000  12733.000000  1025.000000           17985.000000
mean    2009.673837     40.124394      0.830326      0.112542     0.832195               9.806672
std        3.506186     30.439943      0.375352      0.316045     0.373875               7.799331
min     1981.000000      0.000000      0.000000      0.000000     0.000000               1.000000
25%     2008.000000     10.000000      1.000000      0.000000     1.000000               4.000000
50%     2010.000000     40.000000      1.000000      0.000000     1.000000               7.000000
75%     2012.000000     60.000000      1.000000      0.000000     1.000000              16.000000
max     2015.000000    250.000000      1.000000      1.000000     1.000000              45.000000

In [7]:
df.columns

Index(['gender', 'birthday', 'breed', 'weight', 'dog_fixed', 'dna_tested', 'created_at', 'updated_at', 'dimension', 'exclude', 'breed_type', 'breed_group', 'dog_guid', 'user_guid', 'total_tests_completed'], dtype='object')

### 1. Assess whether Dognition personality dimensions are related to the number of tests completed

In [8]:
#write a query that will output all of the distinct values in the dimension column
df["dimension"].unique()

array(['charmer', 'protodog', nan, 'einstein', 'stargazer', 'maverick',
       'socialite', 'ace', 'expert', 'renaissance-dog'], dtype=object)

In [10]:
#write a query that will output the Dognition personality dimension and total number of tests completed by each unique DogID
df.head()

   gender  birthday               breed  weight  dog_fixed  dna_tested          created_at          updated_at dimension  exclude  breed_type breed_group                              dog_guid                             user_guid  total_tests_completed
0  female      2011  Labrador Retriever      50        1.0         0.0 2013-05-02 03:57:00 2013-07-25 19:41:00   charmer      NaN  Pure Breed    Sporting  fd27b272-7144-11e5-ba71-058fbc01cf0b  ce134e42-7144-11e5-ba71-058fbc01cf0b                   21.0
1    male      2007   Shetland Sheepdog      20        1.0         0.0 2013-05-02 15:35:00 2013-07-25 19:41:00  protodog      NaN  Pure Breed     Herding  fd27b5ba-7144-11e5-ba71-058fbc01cf0b  ce1353d8-7144-11e5-ba71-058fbc01cf0b                   20.0
2    male      2012    Golden Retriever      70        0.0         1.0 2013-05-02 17:22:00 2013-07-25 19:41:00       NaN      NaN  Pure Breed    Sporting  fd27b6b4-7144-11e5-ba71-058fbc01cf0b  ce135ab8-7144-11e5-ba71-058fbc01cf0b                    2.0
3    male      2011    Golden Retriever      70        0.0         0.0 2013-05-02 17:40:00 2014-05-30 15:52:00       NaN      NaN  Pure Breed    Sporting  fd27b79a-7144-11e5-ba71-058fbc01cf0b  ce13507c-7144-11e5-ba71-058fbc01cf0b                   11.0
4  female      2010            Shih Tzu     190        0.0         0.0 2013-05-02 18:12:00 2014-05-30 15:52:00  einstein      1.0  Pure Breed         Toy  fd27b86c-7144-11e5-ba71-058fbc01cf0b  ce135e14-7144-11e5-ba71-058fbc01cf0b                   31.0

In [11]:
df2 = pd.read_csv("completetest.csv", parse_dates=['created_at','updated_at'])

In [12]:
df2.head()

           created_at          updated_at  user_guid                              dog_guid            test_name subcategory_name
0 2013-02-05 18:26:54 2013-02-05 18:26:54        NaN  fd27b86c-7144-11e5-ba71-058fbc01cf0b         Yawn Warm-up          Empathy
1 2013-02-05 18:31:03 2013-02-05 18:31:03        NaN  fd27b86c-7144-11e5-ba71-058fbc01cf0b            Yawn Game          Empathy
2 2013-02-05 18:32:04 2013-02-05 18:32:04        NaN  fd27b86c-7144-11e5-ba71-058fbc01cf0b  Eye Contact Warm-up          Empathy
3 2013-02-05 18:32:25 2013-02-05 18:32:25        NaN  fd27b86c-7144-11e5-ba71-058fbc01cf0b     Eye Contact Game          Empathy
4 2013-02-05 18:32:56 2013-02-05 18:32:56        NaN  fd27b86c-7144-11e5-ba71-058fbc01cf0b        Treat Warm-up    Communication

In [13]:
merged_df1 = pd.merge(left=df2, right=df, how='inner', on="dog_guid")

In [14]:
merged_df1

              created_at_x        updated_at_x  user_guid_x                              dog_guid            test_name subcategory_name  gender  birthday         breed  weight  dog_fixed  dna_tested        created_at_y        updated_at_y dimension  exclude  breed_type   breed_group                           user_guid_y  total_tests_completed
0      2013-02-05 18:26:54 2013-02-05 18:26:54          NaN  fd27b86c-7144-11e5-ba71-058fbc01cf0b         Yawn Warm-up          Empathy  female      2010      Shih Tzu     190        0.0         0.0 2013-05-02 18:12:00 2014-05-30 15:52:00  einstein      1.0  Pure Breed           Toy  ce135e14-7144-11e5-ba71-058fbc01cf0b                   31.0
1      2013-02-05 18:31:03 2013-02-05 18:31:03          NaN  fd27b86c-7144-11e5-ba71-058fbc01cf0b            Yawn Game          Empathy  female      2010      Shih Tzu     190        0.0         0.0 2013-05-02 18:12:00 2014-05-30 15:52:00  einstein      1.0  Pure Breed           Toy  ce135e14-7144-11e5-ba71-058fbc01cf0b                   31.0
2      2013-02-05 18:32:04 2013-02-05 18:32:04          NaN  fd27b86c-7144-11e5-ba71-058fbc01cf0b  Eye Contact Warm-up          Empathy  female      2010      Shih Tzu     190        0.0         0.0 2013-05-02 18:12:00 2014-05-30 15:52:00  einstein      1.0  Pure Breed           Toy  ce135e14-7144-11e5-ba71-058fbc01cf0b                   31.0
3      2013-02-05 18:32:25 2013-02-05 18:32:25          NaN  fd27b86c-7144-11e5-ba71-058fbc01cf0b     Eye Contact Game          Empathy  female      2010      Shih Tzu     190        0.0         0.0 2013-05-02 18:12:00 2014-05-30 15:52:00  einstein      1.0  Pure Breed           Toy  ce135e14-7144-11e5-ba71-058fbc01cf0b                   31.0
4      2013-02-05 18:32:56 2013-02-05 18:32:56          NaN  fd27b86c-7144-11e5-ba71-058fbc01cf0b        Treat Warm-up    Communication  female      2010      Shih Tzu     190        0.0         0.0 2013-05-02 18:12:00 2014-05-30 15:52:00  einstein      1.0  Pure Breed           Toy  ce135e14-7144-11e5-ba71-058fbc01cf0b                   31.0
...                    ...                 ...          ...                                   ...                  ...              ...     ...       ...           ...     ...        ...         ...                 ...                 ...       ...      ...         ...           ...                                   ...                    ...
193074 2015-10-12 21:17:19 2015-10-12 21:17:19          NaN  fdc2417a-7144-11e5-ba71-058fbc01cf0b            Yawn Game          Empathy    male      2005  Bichon Frise       0        1.0         NaN 2015-12-10 20:52:00 2015-12-10 20:56:00       NaN      NaN  Pure Breed  Non-Sporting  ce9b35e6-7144-11e5-ba71-058fbc01cf0b                    6.0
193075 2015-10-12 21:21:41 2015-10-12 21:21:41          NaN  fdc2417a-7144-11e5-ba71-058fbc01cf0b  Eye Contact Warm-up          Empathy    male      2005  Bichon Frise       0        1.0         NaN 2015-12-10 20:52:00 2015-12-10 20:56:00       NaN      NaN  Pure Breed  Non-Sporting  ce9b35e6-7144-11e5-ba71-058fbc01cf0b                    6.0
193076 2015-10-12 21:25:00 2015-10-12 21:25:00          NaN  fdc2417a-7144-11e5-ba71-058fbc01cf0b     Eye Contact Game          Empathy    male      2005  Bichon Frise       0        1.0         NaN 2015-12-10 20:52:00 2015-12-10 20:56:00       NaN      NaN  Pure Breed  Non-Sporting  ce9b35e6-7144-11e5-ba71-058fbc01cf0b                    6.0
193077 2015-10-12 21:34:57 2015-10-12 21:34:57          NaN  fdc2417a-7144-11e5-ba71-058fbc01cf0b        Treat Warm-up    Communication    male      2005  Bichon Frise       0        1.0         NaN 2015-12-10 20:52:00 2015-12-10 20:56:00       NaN      NaN  Pure Breed  Non-Sporting  ce9b35e6-7144-11e5-ba71-058fbc01cf0b                    6.0
193078 2015-10-12 21:42:36 2015-10-12 21:42:36          NaN  fdc2417a-7144-11e5-ba71-058fbc01cf0b         Arm Pointing    Communication    male      2005  Bichon Frise       0        1.0         NaN 2015-12-10 20:52:00 2015-12-10 20:56:00       NaN      NaN  Pure Breed  Non-Sporting  ce9b35e6-7144-11e5-ba71-058fbc01cf0b                    6.0

[193079 rows x 20 columns]

### Groupby Function

### Pandas-Profiling Reports

In [ ]:
profile = ProfileReport(df=df, title='Name of Report', minimal=True)

In [ ]:
profile.to_notebook_iframe()

In [ ]:
profile.to_file("your_report.html")

## Data Visualization

### Univariate Data Exploration

In [ ]:
df.hist(bins=50, figsize=(20,10))
plt.suptitle('Feature Distribution', x=0.5, y=1.02, ha='center', fontsize='large')
plt.tight_layout()
plt.show()

In [ ]:
df.boxplot(figsize=(20,10))
plt.suptitle('BoxPlot', x=0.5, y=1.02, ha='center', fontsize='large')
plt.tight_layout()
plt.show()

In [ ]:
fig = plt.figure(figsize=(20,40))

plt.subplot(7,2,1)
plt.title("")
sns.countplot()

plt.subplot(7,2,2)
plt.title("")
sns.countplot()

plt.subplot(7,2,3)
plt.title("")
sns.countplot()

plt.subplot(7,2,4)
plt.title("")
sns.countplot()

plt.subplot(7,2,5)
plt.title("")
sns.barplot()

plt.subplot(7,2,6)
plt.title("")
sns.barplot()

plt.subplot(7,2,7)
plt.title("")
sns.barplot()

plt.subplot(7,2,8)
plt.title("")
sns.barplot()

plt.subplot(7,2,9)
plt.title("")
sns.scatterplot()

plt.subplot(7,2,10)
plt.title("")
sns.scatterplot()

plt.subplot(7,2,11)
plt.title("")
sns.countplot()

plt.subplot(7,2,12)
plt.title("")
sns.countplot()

plt.subplot(7,2,13)
plt.title("")
sns.countplot()

plt.subplot(7,2,14)
plt.title("")
sns.countplot()

plt.tight_layout()
plt.show()

In [ ]:
plt.figure(figsize=(20,20))


g = sns.catplot(x='gender', hue = 'tenure', row = 'division',
            kind='count', data=ratings_df,
            height = 3, aspect = 1)

g.set_xlabels("Ideology")
g.set_ylabels("Bills Passed")
#g = (g.set_axis_labels("Tip","Total bill(USD)").set(xlim=(0,10),ylim=(0,100)


g.set(xlim=(0,None))
g.set_xticklabels(rotation=90)

plt.title("title")

plt.show()

In [ ]:
plt.figure(figsize=(20,20))

sns.catplot(x="calories", y="restaurant",

                hue="is_salad", ci=None,

                data=df_calories, color=None, linewidth=3, showfliers = False,

                orient="h", height=20, aspect=1, palette=None,

                kind="box", dodge=True)

plt.show()

In [ ]:
sns.relplot(x="age", y="eval", hue="gender",
            row="tenure",
            data=ratings_df, height = 3, aspect = 2)

### Time-Series Analysis

In [ ]:
timeseries = df[['date','extraction','month', 'day']]

In [ ]:
timeseries

In [ ]:
timeseries.info()

In [ ]:
fig = plt.figure(figsize=(30,10))
sns.lineplot(x=df.date,y=df.amount,data=df, estimator=None)
plt.title("Amount spend per date")
plt.show()

In [ ]:
fig = plt.figure(figsize=(30,10))
sns.lineplot(x=df.month,y=df.amount,data=df, estimator=None)
plt.title("Amount spend per month")
plt.show()

### Pairplots

In [ ]:
plt.figure(figsize=(20,20))
plt.suptitle('Pairplots of features', x=0.5, y=1.02, ha='center', fontsize='large')
sns.pairplot(df.sample(500))
plt.show()

### Bivariate Data Exploration

In [ ]:
sns.jointplot(x='', y='',data=df, kind='scatter',scatter_kws={'color':'k'},line_kws={'color':'red'})

sns.jointplot(x='', y='',data=df, kind='scatter',scatter_kws={'color':'k'},line_kws={'color':'red'})

sns.jointplot(x='', y='',data=df, kind='scatter')

sns.jointplot(x='', y='',data=df, kind='scatter')

sns.jointplot(x='', y='',data=df, kind='kde')

sns.jointplot(x='', y='',data=df, kind='kde')

sns.jointplot(x='', y='',data=df, kind='hex')

sns.jointplot(x='', y='',data=df, kind='hex')

sns.jointplot(x='', y='',data=df, kind='reg',scatter_kws={'color':'k'},line_kws={'color':'red'})

sns.jointplot(x='', y='',data=df, kind='reg',scatter_kws={'color':'k'},line_kws={'color':'red'})

plt.tight_layout()
plt.show()

### Regression plot

In [ ]:
line_color = {'color': 'red'}
fig , ax = plt.subplots(2,2, figsize=(20,20))

#BMI

ax1 = sns.regplot(x=X_test.bmi, y=lr_pred, line_kws=line_color, ax=ax[0,0])
ax1.set_xlabel("x")
ax1.set_ylabel("y")


#s5

ax2 = sns.regplot(x=X_test.s5, y=lr_pred, line_kws=line_color, ax=ax[0,1])
ax2.set_xlabel("x")
ax2.set_ylabel("y")


#bp

ax3 = sns.regplot(x=X_test.bp, y=lr_pred, line_kws=line_color, ax=ax[1,0])
ax3.set_xlabel("x")
ax3.set_ylabel("y")

#s4

ax4 = sns.regplot(x=X_test.s4, y=lr_pred, line_kws=line_color, ax=ax[1,1])
ax4.set_xlabel("x")
ax4.set_ylabel("y")

plt.show()

### FacetGrid

In [ ]:
g = sns.FacetGrid(data=df, col="column_name", height=3, aspect=1)
g.map(plt.scatter, "numeric", "numeric")
g.add_legend()
plt.show()

### Correlation

In [ ]:
df.corr()

In [ ]:
df.corr()["target"].sort_values()

In [ ]:
plt.figure(figsize=(16,9))
sns.heatmap(df.corr(),cmap="coolwarm",annot=True,fmt='.2f',linewidths=2)
plt.show()

## Hypothesis Testing

The goal of hypothesis testing is to answer the question, “Given a sample and an apparent effect, what is the probability of seeing such an effect by chance?” The first step is to quantify the size of the apparent effect by choosing a test statistic (t-test, ANOVA, etc). The next step is to define a null hypothesis, which is a model of the system based on the assumption that the apparent effect is not real. Then compute the p-value, which is the probability of the null hypothesis being true, and finally interpret the result of the p-value, if the value is low, the effect is said to be statistically significant, which means that the null hypothesis may not be accurate.

### T-Test

We will be using the t-test for independent samples. For the independent t-test, the following assumptions must be met.

-   One independent, categorical variable with two levels or group
-   One dependent continuous variable
-   Independence of the observations. Each subject should belong to only one group. There is no relationship between the observations in each group.
-   The dependent variable must follow a normal distribution
-   Assumption of homogeneity of variance

State the hypothesis

-   $H_0: µ\_1 = µ\_2$ ("there is no difference in evaluation scores between male and females")
-   $H_1: µ\_1 ≠ µ\_2$ ("there is a difference in evaluation scores between male and females")

### Levene's Test

In [ ]:
scipy.stats.levene(ratings_df[ratings_df['gender'] == 'female']['eval'],
                   ratings_df[ratings_df['gender'] == 'male']['eval'], center='mean')

## T-Test

### One Sample T-Test

In [ ]:
t, p = scipy.stats.ttest_1samp(a=df.dose, popmean=1.166667)

In [ ]:
print("T-test value is: ", t)
print("p-value value is: ", p)

### Two Samples T-Test

In [ ]:
t, p = scipy.stats.ttest_ind(a=df.len,b=df.dose, equal_var = True/False)

In [ ]:
print("T-test value is: ",t)
print("p-value value is: ",p)

### ANOVA

First, we group the data into cateries as the one-way ANOVA can't work with continuous variable - using the example from the video, we will create a new column for this newly assigned group our categories will be teachers that are:

-   40 years and younger
-   between 40 and 57 years
-   57 years and older

State the hypothesis

-   $H_0: µ\_1 = µ\_2 = µ\_3$ (the three population means are equal)
-   $H_1:$ At least one of the means differ

### One Way ANOVA

In [ ]:
mod = ols('len~supp', data=df).fit()

In [ ]:
aov_table = sm.stats.anova_lm(mod,typ=2)

In [ ]:
aov_table

In [ ]:
f_statistic, p_value = scipy.stats.f_oneway(forty_lower, forty_fiftyseven, fiftyseven_older)
print("F_Statistic: {0}, P-Value: {1}".format(f_statistic,p_value))

### Two-way ANOVA

In [ ]:
mod1 = ols('len~supp+dose', data=df).fit()

In [ ]:
aov1 = sm.stats.anova_lm(mod1,typ=2)

In [ ]:
aov1

### Chi-square

State the hypothesis:

-   $H_0:$ The proportion of teachers who are tenured is independent of gender
-   $H_1:$ The proportion of teachers who are tenured is associated with gender

In [ ]:
#Create a Cross-tab table

cont_table  = pd.crosstab(ratings_df['tenure'], ratings_df['gender'])
cont_table

In [ ]:
scipy.stats.chi2_contingency(cont_table, correction = True)

In [ ]:
chi_square = scipy.stats.chi2_contingency(cont_table, correction = True)

In [ ]:
print(f"Chi score is", chi_square[0])

In [ ]:
print("P-value is", chi_square[1])

In [ ]:
print("Degrees of freedom is", chi_square[2])

### Correlation

State the hypothesis:

-   $H_0:$ Teaching evaluation score is not correlated with beauty score
-   $H_1:$ Teaching evaluation score is correlated with beauty score

In [ ]:
pearson_correlation = scipy.stats.pearsonr(ratings_df['beauty'], ratings_df['eval'])

In [ ]:
print("Pearson's correlation coefficient is", pearson_correlation[0])

In [ ]:
print("P-value is", pearson_correlation[1])

## Data Preprocessing

### Feature Engineering

### Equal Width Discretization

In [ ]:
df["demoscorecat"] = df["polityscore"] #Make a copy

In [ ]:
disc = EqualWidthDiscretiser(bins=4, variables=['demoscorecat'], return_object=True)

In [ ]:
disc

In [ ]:
disc.fit(df)

In [ ]:
disc.binner_dict_

In [ ]:
df2 = disc.fit_transform(df)
df2.head()

In [ ]:
df2["demoscorecat"].value_counts().plot.bar()
plt.show()

### Equal Frequency Discretizer

In [ ]:
df2["co2cat"] = df2["co2emissions"] #Make a copy

In [ ]:
disc = EqualFrequencyDiscretiser(q=5, variables=['co2cat'])

In [ ]:
disc.fit(df2)

In [ ]:
disc.binner_dict_

In [ ]:
df3 = disc.transform(df2)
df3.head()

In [ ]:
df3["co2cat"].value_counts().plot.bar()
plt.show()

### Discretisation + OrdinalEncoder

In [ ]:
### Choose which columns to be discretized first
df3["incomecat"] = df3["incomeperperson"] #Make a copy
df3["alccat"] = df3["alcconsumption"] #Make a copy

In [ ]:
df3.head()

In [ ]:
# to encode variables we need them returned as objects for feature-engine
disc = EqualFrequencyDiscretiser(q=5, variables=['incomecat','alccat'], return_object=True)

In [ ]:
df4 = disc.fit_transform(df3)
df4.head()

In [ ]:
df4["incomecat"].value_counts().plot.bar()
df4["alccat"].value_counts().plot.bar()
plt.show()

In [ ]:
# Set y = target variable, and x = independant variables (both must be objects)

In [ ]:
df5 = df4[['demoscorecat','incomecat', 'alccat']]
df5.head()

In [ ]:
df5.dtypes

In [ ]:
df5.groupby('incomecat')['demoscorecat'].mean().plot()
plt.show()

In [ ]:
df5.groupby('alccat')['demoscorecat'].mean().plot()
plt.show()

In [ ]:
enc = OrdinalEncoder(encoding_method = 'ordered')

In [ ]:
X = df5[['incomecat', 'alccat']]

In [ ]:
y = df5['demoscorecat']

In [ ]:
enc.fit(X, y)

In [ ]:
X_transform = enc.transform(X)

In [ ]:
enc.encoder_dict_

In [ ]:
X_transform  # Transformed for monotonic relationship

In [ ]:
pd.concat([X_transform, y], axis=1)

In [ ]:
pd.concat([X_transform, y], axis=1).groupby('incomecat')['demoscorecat'].mean().plot()
plt.show()

### Discretisation with Decision Trees

In [ ]:
df4['electricat'] = df4['relectricperperson'] #Make a copy

In [ ]:
df4.head()

In [ ]:
# Let y = demoscorecat, and x = electricat, breastcancerper100th

df6 = df4[['breastcancerper100th','electricat','demoscorecat']]
df6.head()

In [ ]:
X = df6[['breastcancerper100th','electricat']]
y = df6['demoscorecat']

In [ ]:
# set up the decision tree discretiser indicating:
# cross-validation number (cv)
# how to evaluate model performance (scoring)
# the variables we want to discretise (variables)
# whether it is a target for regression or classification
# and the grid with the parameters we want to test

treeDisc = DecisionTreeDiscretiser(cv=5, scoring='accuracy', variables=['electricat'], regression=False,
                                  param_grid={'max_depth':[1,2,3], 'min_samples_leaf':[2,4,6]})

In [ ]:
treeDisc.fit(X,y)

In [ ]:
treeDisc.binner_dict_['electricat'].best_params_

In [ ]:
treeDisc.scores_dict_['electricat']

In [ ]:
X_transform = treeDisc.transform(X) #Only electricat column

In [ ]:
X_transform

In [ ]:
X_transform.electricat.unique()

In [ ]:
# monotonic relationship with target: train set

pd.concat([X_transform, y],axis=1)

### Drop unwanted features

In [ ]:
df.columns

In [ ]:
df.drop()

### Treat Missing Values

In [ ]:
df.isnull().sum()

In [ ]:
df[''] = df[''].replace(np.nan,df.mean())

In [ ]:
#imputer = mdi.MeanMedianImputer(imputation_method='median',variables=None)

In [ ]:
#imputer.fit(df)

In [ ]:
#df = imputer.transform(df)

In [ ]:
df.isnull().sum()

### Replacing values

In [ ]:
df.replace()

### Rounding Values

In [ ]:
###pandas.DataFrame.round
df[['internetuserate']] = df[['internetuserate']].round(decimals=0)

### Treat Duplicate Values

In [ ]:
df.duplicated(keep='first').sum()

In [ ]:
df[df.duplicated(keep=False)] #Check duplicate values

In [ ]:
df.drop_duplicates(ignore_index=True, inplace=True)

### Treat Outliers

In [ ]:
df.columns

In [ ]:
df.describe()

In [ ]:
#windsorizer = Winsorizer(distribution='skewed',tail='both',fold=1.5, variables=[])

In [ ]:
#windsorizer.fit(df)

In [ ]:
#df2 = windsorizer.transform(df)

In [ ]:
#df2

In [ ]:
#df2.describe()

In [ ]:
#windsorizer.left_tail_caps_

In [ ]:
#windsorizer.right_tail_caps_

### Type Change

In [ ]:
df.info()

In [ ]:
df["breastcancerper100th"] = df["breastcancerper100th"].astype('int')

In [ ]:
df.info()

### One-hot encoding

In [ ]:
df.info()

In [ ]:
df["has_gas"] = pd.get_dummies(data=df["has_gas"],drop_first=True)

### Save to CSV

In [ ]:
df.to_csv("filename.csv", index=False)

## Regression Analysis

In [ ]:
df.columns

In [ ]:
y = df['ExpirationMonth']
X = df['NumStores']

In [ ]:
X = sm.add_constant(X)

In [ ]:
model = sm.OLS(y,X).fit()

In [ ]:
model.summary()

In [ ]:
prediction = model.predict(x)

#### Python code done by Dennis Lam